  <ol class="chat">
  <li *ngFor="let resposta of conversa" [ngClass]="[resposta.tipo === 'pergunta' ? 'self' : 'other' ]">
    <div class="avatar">
      <img *ngIf="resposta.tipo === 'resposta'" src="http://i.imgur.com/DY6gND0.png" draggable="false"/>
      <img  *ngIf="resposta.tipo === 'pergunta'" src="http://i.imgur.com/HYcn9xO.png" draggable="false"/>
    </div>
    <div class="msg">
      <p>{{resposta.valor}}</p>
      <iframe hidden *ngIf="resposta.audio" [src]="resposta.audio" ></iframe>
    </div>
  </li>
  </ol>
  <input class="textarea"  #texto (keyup.enter)="conversar(texto)" type="text" placeholder="Mensagem"/>
